/*---------- CABEÇALHO ---------- */

body{
    display: flex;
    flex-direction: column;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

header{
    width: 100%;
    height: 120px;
    background-color: #393691;
    display: flex;
    justify-content: center;
    /* margin-bottom: 100px; */
}

.content-cabecalho{
    /* background-color: aqua; */
    height: 100%;
    width: 78.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.esquerdo-header img{
    width: 100px;
    height: 100px;
}

.direito-header{
    width: 25%;
    height: 100%;
    display: flex;
    /* background-color: blueviolet; */
    align-items: center;
    justify-content: space-between;
}

.links-cabecalho{
    width: 100%;
    height: 100%;
    display: flex;
    /* background-color: blueviolet; */
    align-items: center;
    justify-content: space-between;
}

.links-cabecalho a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
    background-color: #fff;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 40px;
}

.links-cabecalho a:hover{
    text-decoration: underline;
}

/*---------- CORPO ---------- */

main{
    width: 100%;
    height: 784px;
    background-image: url("../img/6505028.jpg");
    background-size: 1450px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.content{
    width: 72%;
    height: 100%;
    /* background-color: aqua; */
    display: grid;
}

.espaco-titulo{
    width: 100%;
    height: 160px;
    /* background-color: blue; */
    display: grid;
}

.titulo{
    width: 100%;
    height: 72px;
    background-color: #fdf9ff;
    align-self: flex-end;
    border-radius: 20px;
    border-color: #000;
    border-style: solid;
    border-width: 2px;
    font-size: 30px;    
    display: flex;
    align-items: center;
    opacity: 92%;
}

.titulo h1{
    padding-left: 60px;
    font-size: 30px;
    text-decoration: none;
    font-weight: 400;
}

.espaco-pergunta{
    width: 100%;
    height: 445px;
    /* background-color: blue; */
    display: grid;
}

.conteudo-pergunta{
    width: 100%;
    height: 380px;
    background-color: #fdf9ff;
    border-radius: 20px;
    border-color: #000;
    border-style: solid;
    border-width: 2px;
    font-size: 18px;  
    justify-items: center;
    align-content: center;
    align-self: end; 
    opacity: 92%; 
}

.pergunta{
    width: 100%;
}

.pergunta p{
    padding: 0px 60px 0px 60px;
}

.espaco-vazio{
    width: 100%;
    height: 178px;
    /* background-color: chartreuse; */
}

/*---------- RODAPE ---------- */

footer{
    width: 100%;
    height: 120px;
    background-color: #393691;
    display: flex;
    justify-content: center;
    /* margin-top: 80px; */
}

.background-direitos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.direitos{
    color: #000;
    text-decoration: none;
    font-size: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 40px;
}