/* -------------- CABEÇALHO -------------- */

.body {
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;

}

header {
  width: 100%;
  height: auto;
  background-color: #393691;
  display: flex;
  justify-content: center;
  /* margin-bottom: 100px; */
}

.content-cabecalho {
  /* background-color: aqua; */
  height: 100%;
  width: 78.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.esquerdo-header img {
  width: 100px;
  height: 100px;
}

.direito-header {
  width: 40%;
  height: 100%;
  display: flex;
  /* background-color: blueviolet; */
  align-items: center;
  justify-content: space-between;
}

.links-cabecalho {
  /* background-color: chocolate; */
  width: 100%;
}

.links-cabecalho a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  background-color: #fff;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 40px;
}

.links-cabecalho a:hover {
  text-decoration: underline;
}

.links-cabecalho ul {
  width: 100%;
  display: flex;
  list-style: none;
  align-self: center;
  justify-content: space-between;
  padding: 0;
}

/* -------------- CABEÇALHO -------------- */

/* -------------- RODAPE -------------- */

footer {
  width: 100%;
  height: 120px;
  background-color: #393691;
  display: flex;
  justify-content: center;
}

.background-direitos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.direitos {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 40px;
}

/* -------------- RODAPE -------------- */

/* -------------- CORPO -------------- */

.main-home {
  width: 100%;
  height: auto;
  background-image: url("../img/sobre.jpg");
  background-size: 93.75rem;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-quiz {
  width: 100%;
  height: 49rem;
  background-image: url("../img/6505028.jpg");
  background-size: 90.625rem;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  font-size: 1.125rem;
}

/* -------------- CORPO -------------- */

/* -------------- GERAL --------------*/

.content {
  width: 72%;
  height: 100%;
  display: grid;
}

.conteudo-titulo {
  width: 100%;
  height: 4.5rem;
  background-color: #fdf9ff;
  border-radius: 1.25rem;
  border-color: #000;
  border-style: solid;
  border-width: 0.125rem;
  font-size: 1.875rem;
  display: grid;
  align-self: end;
  opacity: 92%;
  justify-items: center;
  margin-top: 5rem;
}

.titulo {
  width: 87%;
  height: auto;
  display: grid;
}

.titulo h1 {
  font-size: 1.875rem;
  text-decoration: none;
  font-weight: 400;
}

/* -------------- GERAL --------------*/

/* -------------- HOMEPAGE --------------*/

.conteudo-entrada {
  width: 100%;
  height: auto;
  background-color: #fdf9ff;
  border-radius: 1.25rem;
  border-color: #000;
  border-style: solid;
  border-width: 0.125rem;
  font-size: 1.125rem;
  display: grid;
  align-self: end;
  opacity: 92%;
  align-content: center;
  margin-top: 5rem;
}

.entrada {
  width: 87%;
  height: auto;
  display: grid;
  justify-self: center;
}

.entrada p:last-child {
  padding-left: 3.125rem;
}

.conteudo-dados {
  width: 100%;
  height: auto;
  background-color: #fdf9ff;
  border-radius: 1.25rem;
  border-color: #000;
  border-style: solid;
  border-width: 0.125rem;
  font-size: 1.125rem;
  display: grid;
  align-content: center;
  opacity: 92%;
  margin-top: 5rem;
}

.dados p {
  padding: 0px 3.75rem 0px 3.75rem;
}

.frases {
  width: 87%;
  height: 80%;
  padding: 1.2rem 0px 1.2rem 0px;
  display: grid;
  justify-self: center;
}

.espaco-botao {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.espaco-botao a {
  width: 27%;
  height: 3.125rem;
  border-radius: 1.25rem;
  border-color: #000;
  border-style: solid;
  border-width: 0.125rem;
  background-color: #393691;
  color: #fff;
  font-size: 1.125rem;
  text-decoration: none;
  text-align: center;
  align-content: center;
}

/* -------------- HOMEPAGE --------------*/

/* -------------- QUESTIONS --------------*/

.conteudo-pergunta {
  width: 100%;
  height: 23.75rem;
  background-color: #fdf9ff;
  border-radius: 1.25rem;
  border-color: #000;
  border-style: solid;
  border-width: 0.125rem;
  font-size: 1.125rem;
  display: grid;
  justify-items: center;
  align-content: center;
  opacity: 92%;
  margin-top: 5rem;
}

.pergunta {
  width: 87%;
  height: auto;
  display: grid;
  justify-self: center;
}

.pergunta h2 {
  margin: 0px 0px 2.5rem 0px;
  font-size: 1.125rem;
  text-decoration: none;
  font-weight: 400;
}

label {
  font-size: 1.125rem;
  text-decoration: none;
  font-weight: 400;
}

.espaco-vazio {
  width: 100%;
  height: 11.125rem;
}

.espaco-botao-quiz {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: end;
}

.espaco-botao-final {
  width: 27%;
  height: 3.125rem;
  border-radius: 1.25rem;
  border-color: #000;
  border-style: solid;
  border-width: 0.125rem;
  background-color: #393691;
  color: #fff;
  font-size: 1.125rem;
  text-decoration: none;
  display: grid;
  text-align: center;
  align-content: center;
  justify-self: center;
}

.espaco-botao-quiz button {
  width: 27%;
  height: 3.125rem;
  border-radius: 1.25rem;
  border-color: #000;
  border-style: solid;
  border-width: 0.125rem;
  background-color: #393691;
  color: #fff;
  font-size: 1.125rem;
  text-decoration: none;
  text-align: center;
  align-content: center;
}

.conteudo-dados-sobre {
  width: 100%;
  height: auto;
  background-color: #fdf9ff;
  border-radius: 1.25rem;
  border-color: #000;
  border-style: solid;
  border-width: 0.125rem;
  font-size: 1.125rem;
  display: grid;
  align-content: center;
  opacity: 92%;
  margin: 5rem 0 7rem 0;
}

/* -------------- QUESTIONS --------------*/

/* -------------- SOBRE --------------*/

.frases-sobre {
  width: 87%;
  height: auto;
  padding: 1.2rem 0px 1.2rem 0px;
  display: flex;
  justify-self: center;
  align-items: center;
}

.frases-sobre img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.info-pessoal {
  display: grid;
  padding-left: 2rem;
  /* align-content: center; */
}

.linkedin {
  text-decoration: underline;
  padding-right: 1rem;
  color: blue;
}

/* -------------- SOBRE --------------*/

@media (max-width: 999px) {

  .content-cabecalho {
    height: auto;
    display: grid;
    justify-content: normal;
    width: 90%;
  }

  .esquerdo-header {
    justify-self: center;
  }

  .direito-header {
    width: 100%;
  }

  .links-cabecalho a:hover {
    text-decoration: underline;
    font-size: 24px;
  }

  .links-cabecalho ul.open {
    display: flex;
  }

  .links-cabecalho ul {
    flex-direction: row;
    align-items: center;
  }

  .frases-sobre {
    width: 87%;
    height: auto;
    padding: 1.2rem 0px 1.2rem 0px;
    display: grid;
    
  }
}