/*---------- CABEÇALHO ---------- */

.body{
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}

header{
  width: 100%;
  height: 120px;
  background-color: #393691;
  display: flex;
  justify-content: center;
  /* margin-bottom: 100px; */
}

.content-cabecalho{
  /* background-color: aqua; */
  height: 100%;
  width: 78.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.esquerdo-header img{
  width: 100px;
  height: 100px;
}

.direito-header{
  width: 25%;
  height: 100%;
  display: flex;
  /* background-color: blueviolet; */
  align-items: center;
  justify-content: space-between;
}

.links-cabecalho{
  width: 100%;
  height: 100%;
  display: flex;
  /* background-color: blueviolet; */
  align-items: center;
  justify-content: space-between;
}

.links-cabecalho a{
  color: #000;
  text-decoration: none;
  font-size: 20px;
  background-color: #fff;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 40px;
}

.links-cabecalho a:hover{
  text-decoration: underline;
}

/*---------- CORPO ---------- */

.main-home{
  width: 100%;
  height: auto;
  background-image: url("../img/sobre.jpg");
  background-size: 1500px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  width: 72%;
  height: 100%;
  /* background-color: aqua; */
  display: grid;
}

.espaco-titulo{
  width: 100%;
  height: 160px;
  /* background-color: blue; */
  display: grid;
}

.conteudo-titulo{
  width: 100%;
  height: 72px;
  background-color: #fdf9ff;
  border-radius: 20px;
  border-color: #000;
  border-style: solid;
  border-width: 2px;
  font-size: 30px;    
  justify-items: center;
  align-self: end; 
  opacity: 92%;
}

.titulo{
  width: 87%;
  height: auto;
  display: grid;
  align-content: space-evenly;
  justify-items: start;   
}

.titulo h1{
  font-size: 30px;
  text-decoration: none;
  font-weight: 400;
}

.espaco-entrada{
  width: 100%;
  height: 400px;
  /* background-color: blue; */
  display: grid;
  align-content: end;
}

.conteudo-entrada{
  width: 100%;
  height: 330px;
  background-color: #fdf9ff;
  border-radius: 20px;
  border-color: #000;
  border-style: solid;
  border-width: 2px;
  font-size: 18px;  
  align-content: center;  
  opacity: 92%;
}

.entrada{
  width: 87%;
  height: auto;
  display: grid;
  justify-self: center;
  /* align-content: space-evenly;
  justify-items: start;   */
}

.entrada p:last-child{
  padding-left: 50px;
}

.espaco-dados{
  width: 100%;
  height: 400px;
  /* background-color: blue; */
  display: grid;
  align-content: end;
}

.dados{
  width: 100%;
  height: 330px;
  background-color: #fdf9ff;
  border-radius: 20px;
  border-color: #000;
  border-style: solid;
  border-width: 2px;
  font-size: 18px;  
  display: grid;
  align-content: center;
  opacity: 92%;
}

.dados p{
  padding: 0px 60px 0px 60px;
}

.frases{
  width: auto;
  height: 80%;
  padding: 10px 0px 10px 0px;
}

/* .info{
  padding-left: 60px;
}

.info input{
  width: 720px;
  height: 40px;
  color: #000;
  border-radius: 20px;
  font-size: 17px;
} */

.espaco-botao{
  width: 100%;
  height: 170px;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.espaco-botao a{
  width: 27%;
  height: 50px;
  border-radius: 20px;
  border-color: #000;
  border-style: solid;
  border-width: 2px;
  background-color: #393691;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  align-content: center;
}

/*---------- RODAPE ---------- */

footer{
  margin-top: 50px;
  width: 100%;
  height: 120px;
  background-color: #393691;
  display: flex;
  justify-content: center;
  /* margin-top: 80px; */
}

.background-direitos{
  display: flex;
  justify-content: center;
  align-items: center;
}

.direitos{
  color: #000;
  text-decoration: none;
  font-size: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 40px;
}